<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-Do List</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>To-Do List</h1>
  <form action="/tasks" method="POST">
    <input type="text" name="taskName" placeholder="Task Name" required>
    <input type="text" name="taskDescription" placeholder="Task Description">
    <button type="submit">Add</button>
  </form>

  <ul>
    <% tasks.forEach(task => { %>
      <li>
        <h3>
          <%=task.taskName %>
        </h3>
        <p>
          <%=task.taskDescription %>
        </p>
        <% if(task.completed){%>
          <p>completed</p>
          <%}else{%>
            <form action="/tasks/<%= task._id%>/complete" method="PUT">
              <button type="submit">Mark as completed</button>
            </form>
            <% } %>
              <form action="/tasks/<%= task._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
              </form>
      </li>
      <%}) %>
  </ul>
</body>

</html>